<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="image/brand-img.png">
    <meta name="viewport" content="width=device-width">
    <title>Chitthi</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="upper-head">
        <div class="head-div">
            <img class="brand-img" src="image/brand-img.png" alt=""> <span class="head">Chitthi-Arpit❤️️</span>
        </div>
    </section>
    <section class="wrap">
        <section class="messagesec">
            <div class="msgarea"></div>
            <div class="inputs">
                <textarea id="textarea" cols="30" placeholder="Write a message.." rows="1"></textarea>
            </div>
        </section>
    </section>
</body>
<!-- <script src="/Chitthi/src/app.js"></script> -->
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
</html>